@import "base/variables";
@import "base/fonts";
@import "libs/libraries";
@import "libs/reset";
@import "global";

// main page
@import "blocks/header";

.hero {
    &__items {
        background-color: $bg-color;
    }

    &__item {
        padding: 15px 0 85px;
        height: calc(100vh - 142px);
    }

    &__wrap {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0 15px;
        height: 100%;
        min-width: 320px;
        max-width: 1200px;
    }

    &__title {
        margin-bottom: 15px;
        max-width: 135px;
        font-weight: 500;
        font-size: 24px;
        color: $title-color;
    }

    .slick-dots {
        position: absolute;
        left: 50%;
        bottom: 45px;
        display: flex;
        transform: translateX(-50%);

        li {
            &:not(:last-child) {
                margin-right: 11px;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                width: 30px;
                height: 30px;
                border: none;
                border-radius: 50%;
                font-weight: 500;
                font-size: 12px;
                background-color: rgba($white, 0.3);
            }

            &.slick-active {
                button {
                    background-color: $white;
                }
            }
        }
    }
}