body {
    overflow-x: hidden;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: $text;
    background-color: $white;
}

// обращение по классу
.body--with-menu {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    min-width: 320px;
    max-width: 1200px;

    &--long {
        max-width: 1800px;
    }
}

button,
a,
textarea,
input,
iframe {
    &:focus {
        outline: 1px solid $title;
    }
}

.visually-hidden {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}

.title {
    @include line-clamp(2);

    margin-bottom: 25px;
    font-family: $dm-sans;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: $grey-600;

    @include r($md) {
        margin-bottom: $mb15;
    }

    @include r($sm) {
        font-size: 26px;
    }
}

.shop-link {
    display: inline-block;
    padding: 21px 20px 21px 27px;
    color: $white;
    background-color: $main;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
        color: $bg;
        background-color: $title;

        svg {
            fill: $bg;
        }
    }

    svg {
        width: 22px;
        height: 9px;
        fill: $white;
        transition: fill 0.5s;
    }

    span {
        padding-right: 55px;
        font-weight: 500;
        font-size: 15px;
    }
}