body {
    overflow-x: hidden;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: $text;
    background-color: $white;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    min-width: 320px;
    max-width: 1200px;

    &--long {
        max-width: 1800px;
    }
}

button,
a,
textarea,
input,
iframe {
    &:focus {
        outline: 1px solid $title;
    }
}

.visually-hidden {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}

.title {
    @include line-clamp(1);

    margin-bottom: 25px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: $grey-600;

    @include r($sm) {
        font-size: 24px;
    }
}

.body--with-menu {
    overflow: hidden;
}