body {
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1.2;
    color: $text;

    @extend %rubik-regular;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    min-width: 320px;
    max-width: 1200px;

    &--long {
        max-width: 1800px;
    }
}

button,
a,
textarea,
input,
iframe {
    &:focus {
        outline: 1px solid $title;
    }
}

.visually-hidden {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}

.shop-link {
    display: inline-block;
    padding: 21px 20px 21px 27px;
    color: $white;
    background-color: $main;
    transition: background-color 0.5s, color 0.5s, fill 0.5s;

    svg {
        width: 22px;
        height: 9px;
        fill: $white;
    }

    span {
        padding-right: 55px;
        font-weight: 500;
        font-size: 15px;
    }

    &:hover {
        color: $main;
        background-color: $white;

        svg {
            fill: $main;
        }
    }
}