.terms {
    margin-bottom: 120px;
    counter-reset: terms;

    &__title {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 24px;
        color: $title;

        @include r($md) {
            margin-bottom: $mb15;
        }
    }

    &__text {
        margin-bottom: 52px;
        line-height: 1.9;
        color: $title;

        @include r($md) {
            margin-bottom: $mb30;
        }
    }

    &__items {
        margin-bottom: 61px;

        @include r($md) {
            margin-bottom: $mb30;
        }
    }

    &__item {
        position: relative;
        margin-left: 5px;
        padding-left: 34px;
        line-height: 1.9;
        color: $title;

        &::before {
            content: "0"counter(terms) ".";
            position: absolute;
            left: 0;
            top: 0;
            counter-increment: terms;
        }

        &:not(:last-child) {
            margin-bottom: 20px;

            @include r($md) {
                margin-bottom: $mb15;
            }
        }
    }
}