$main-color: #a3bbc8;
$white: #fff;
$title-color: #243f4d;
$text-color: #436372;
$bg-color: #fcd7b6;
$img-path: "../images/";
$footer-color: #7b7b7b;

// color: #585858;
// color: #414141;
// color: #191919;
// color: #1a1a1a;
// color: #8b8b8b;
// color: $footer-color; 5
// color: #1f2044;
// color: #234969;

%hover-nav-header {
    transition: background-color 0.5s, fill 0.5s;

    &:hover {
        background-color: $title-color;

        svg {
            fill: $white;
        }
    }
}

%hover-link {
    transition: color 0.5s;

    &:hover {
        color: $main-color;
    }
}

%hover-btn {
    transition: color 0.5s;

    &:hover {
        color: #414141;
    }
}
/* stylelint-disable */
@mixin line-clamp($property) {
    -webkit-line-clamp: $property; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden;
}

// @include line-clamp()