.articles {
    position: relative;
    z-index: 2;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 45px;
        font-family: $dm-sans;
        font-weight: 700;

        @include r($md) {
            margin-bottom: $mb15;
        }

        @include r($sm) {
            flex-wrap: wrap;
        }
    }

    &__title {
        margin-bottom: 0;
        text-align: left;
    }

    &__next {
        position: relative;
        padding-right: 25px;
        font-size: 16px;
        white-space: nowrap;
        color: $grey-500;

        svg {
            position: absolute;
            right: 0;
            top: 3px;
            width: 7px;
            height: 12px;
            fill: $grey-500;
        }

        @extend %hover-link;
    }

    &__items {
        display: flex;

        @include r($lg) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
        width: 100%;

        @include r($lg) {
            width: 50%;
        }

        @include r($md) {
            width: 100%;
        }

        &:not(:last-child) {
            margin-right: 30px;

            @include r($lg) {
                margin-right: 0;
                margin-bottom: $mb30;
            }
        }
    }

    &--with-company {
        margin-bottom: -171px;

        @include r($lg) {
            margin-bottom: $mb15;
        }
    }
}