.article-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);

    @include r($lg) {
        margin: 0 8px 16px;
    }

    @include r($md) {
        margin: 0;
    }

    &__img-wrap {
        position: relative;
    }

    &__img {
        width: 100%;
        height: 250px;
        border-radius: 5px 5px 0 0;
        object-fit: cover;
    }

    &__subtitle {
        position: absolute;
        left: 28px;
        bottom: -15px;
        padding: 8px 31px;
        border: 1px solid transparent;
        border-radius: 15px;
        font-family: $poppins;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: $white;
        background-color: $main;
        transition: color 0.5s, background-color 0.5s, border-color 0.5s;

        &:hover {
            border-color: $main;
            color: $main;
            background-color: $white;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 35px 30px 25px;
        height: 100%;
        background-color: $white;

        @include r($lg) {
            padding: 20px;
        }
    }

    &__title {
        @include line-clamp(3);

        font-family: $dm-sans;
        font-weight: 500;
        font-size: 18px;
        color: $grey-500;

        @extend %hover-link;
    }

    &__link {
        margin-bottom: 15px;
    }

    &__bottom {
        display: flex;
        margin-top: auto;
        padding-top: 17px;
        border-top: 1px solid $grey-75;
        font-size: 12px;
        text-transform: uppercase;
        color: $blue-800;
    }

    &__descr {
        @include line-clamp(1);

        position: relative;
        padding-left: 18px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 14px;
            height: 17px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &--date {
            padding-right: 30px;

            &::before {
                background-image: url("#{$img}articles/1.svg");
            }
        }

        &--author {
            max-width: 140px;

            &::before {
                background-image: url("#{$img}articles/2.svg");
            }

            @extend %hover-link;
        }
    }
}