.aside {
    position: relative;
    width: 100%;
    max-width: 270px;

    @include r($lg) {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
        margin-right: 0;
        padding: 15px;
        background-color: rgba($white, 0.95);
        transform: translateX(-200%);
        transition: transform 0.5s;
    }

    &__overlay {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 31;
        display: block;
        visibility: hidden;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.8);
        transition: opacity 0.2s ease 0s, visibility 0.2s ease 0s;

        &--active {
            visibility: visible;
            opacity: 1;
        }
    }

    &__close {
        display: none;
    }

    &__item {
        margin-bottom: 50px;
        width: 100%;
    }

    &__title {
        position: relative;
        display: inline-block;
        margin-bottom: 27px;
        padding-right: 56px;
        font-family: $dm-sans;
        font-weight: 700;
        font-size: 18px;
        line-height: 1;
        text-transform: uppercase;
        color: $title;

        &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 7px;
            width: 39px;
            height: 3px;
            border-radius: 1px;
            background-color: $main;
        }
    }

    &--left {
        margin-right: 30px;
    }

    &--right {
        margin-left: 70px;
    }

    &--mobile {
        height: 100%;
        overflow-y: scroll;
        transform: translateX(0);
    }
}

.aside-category,
.aside-brand {
    &__label {
        display: block;
    }

    &__checkbox {
        padding: 12px 13px;
        border-radius: 5px;
        background-color: transparent;
        transition: background-color 0.5s;
    }
}

.aside-category {
    margin-bottom: 43px;

    &__input {
        &:checked + .aside-category__checkbox {
            background-color: rgba($color: $main, $alpha: 0.2);
        }
    }

    &__checkbox {
        @include line-clamp(1);

        position: relative;
        display: block;
        transition: color 0.5s;

        &::before {
            content: "";
            position: absolute;
            right: 22px;
            top: 17px;
            width: 6px;
            height: 10px;
            background-image: url("../images/arrow-right.svg");
            background-repeat: no-repeat;
        }

        @extend %hover-link;
    }
}

.aside-brand {
    &__input {
        &:checked + .aside-brand__checkbox {
            background-color: rgba($color: $main, $alpha: 0.2);

            span:nth-child(2) {
                color: $title;
            }
        }
    }

    &__checkbox {
        display: flex;
        justify-content: space-between;
        transition: color 0.5s;

        span {
            &:nth-child(2) {
                color: $grey-80;
            }

            &:nth-child(1) {
                @include line-clamp(1);
            }
        }

        @extend %hover-link;
    }
}

.aside-recent {
    &__item {
        display: flex;
        color: $grey-450;

        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }

    &__img-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        width: 100%;
        height: 71px;
        max-width: 71px;
        border: 2px solid $grey-50;
    }

    &__img {
        object-fit: cover;
    }

    &__info {
        padding-top: 1px;
        width: 100%;
    }

    &__title {
        @include line-clamp(1);

        margin-bottom: 9px;
        padding-top: 1px;
        font-weight: 400;
        font-size: 14px;

        @extend %hover-link;
    }

    &__star {
        margin-bottom: 8px;
        padding: 0;
    }

    &__price {
        font-size: 15px;

        span {
            vertical-align: top;
        }
    }
}

.aside-price {
    margin-bottom: 83px;

    &__price {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }

    .js-irs-0 {
        display: block;
        margin-bottom: 42px;
        height: 15px;
    }

    .irs-min,
    .irs-max,
    .irs-from,
    .irs-to,
    .irs-single {
        display: none;
    }

    .irs-line {
        opacity: 0.66;
        height: 3px;
        border-radius: 1px;
        background-color: rgba($main, 0.66);
    }

    .irs--flat .irs-handle > i:first-child {
        display: none;
    }

    .irs-handle {
        top: 20px;
        width: 15px;
        height: 15px;
        background-color: $main;
        cursor: pointer;
    }

    .irs-bar {
        height: 4px;
        background-color: $main;
    }
}

.aside-posts {
    &__item {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 23px;
        }
    }

    &__img-wrap {
        width: 70px;
        height: 70px;
        margin-right: 20px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info {
        max-width: 160px;
        width: 100%;
    }

    &__title {
        color: $grey-450;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 12px;

        @extend %hover-link;
    }

    &__date {
        color: $grey-90;
        font-size: 12px;
        font-weight: 400;
        padding-left: 15px;
        position: relative;


        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 13px;
            height: 13px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../images/articles/1.svg);
        }
    }
}

.aside-search {margin-bottom: 57px;
    &__form {
        max-width: 270px;
        width: 100%;
        position: relative;
    }

    &__input {
        padding: 0 58px 0 6px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid $main;
        height: 43px;
        background-color: rgba($white, 0.4);
    }

    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: $blue-50;
        border: none;

        @extend %hover-nav-header;
        svg {
            width: 18px;
            height: 18px;
            fill: #094074;
        }
    }
}