.gallery-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__button {
        padding: 0;
        border: none;
        font-family: $dm-sans;
        font-weight: 700;
        white-space: nowrap;
        color: $grey-100;
        background-color: transparent;

        &.mixitup-control-active {
            color: $grey-400;
        }

        @extend %hover-btn;
    }

    @include r($sm) {
        justify-content: flex-start;
        overflow-x: auto;
    }

    @include r($md) {
        margin-bottom: $mb30;
    }
}