.header {
    &__inner {
        display: flex;
        align-items: center;
        padding: 45px 0;

        @include r($xl) {
            justify-content: space-between;
        }

        @include r($md) {
            flex-wrap: wrap;
            padding: 20px 0;
        }
    }

    &__btn {
        position: relative;
        z-index: 2;
        display: none;
        padding: 0;
        width: 40px;
        border: none;
        background-color: transparent;

        @include r($xl) {
            display: block;
        }

        span {
            display: block;
            width: 40px;
            height: 5px;
            background-color: $text;
            transition: transform 0.3s, opacity 0.3s;

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }

        &.header__btn--active span {
            background-color: $white;

            &:nth-child(1) {
                transform: translateY(13px) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: translateY(-13px) rotate(-45deg);
            }
        }
    }
}

.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    @include r($xl) {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: rgba($title, 0.9);
        transform: translateY(-200%);
        transition: transform 0.3s;

        &.menu--mobile {
            transform: translateY(0);
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 30px;

            @include r($xl) {
                margin-right: 0;
            }
        }
    }

    &__link {
        border-bottom: 1px solid transparent;
        font-weight: 500;
        transition: border-bottom-color 0.5s, color 0.5s;

        &:hover {
            border-bottom-color: $title;
            color: $title;
        }
    }

    &--header {
        padding-left: 178px;

        @include r($xxl) {
            padding-left: 0;
        }
    }

    &--mobile {
        flex-wrap: nowrap;
        overflow-y: auto;

        .menu__link {
            display: block;
            padding: 20px 0;
            font-size: 22px;
            color: $white;
        }
    }
}

.user-nav {
    display: flex;

    @include r($md) {
        justify-content: center;
        order: 1;
        margin-top: 15px;
        width: 100%;
    }

    &__search {
        margin-right: 21px;
        background-color: rgba($main, 0.2);

        @include r($sm) {
            margin-right: auto;
        }

        svg {
            width: 16px;
            height: 16px;
            fill: $title;
        }

        @extend %hover-nav-header;
    }

    &__menu {
        background-color: $main;

        @include r($sm) {
            margin-left: auto;
        }

        svg {
            width: 20px;
            height: 20px;
            fill: $white;
        }

        @extend %hover-nav-header;
    }

    &__wrap {
        position: relative;
    }

    &__count {
        position: absolute;
        left: 11px;
        top: -6px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        font-family: $dm-sans;
        font-weight: 400;
        font-size: 10px;
        background-color: $white;
    }

    &__item {
        position: relative;
        border: none;
        background-color: $bg;

        svg {
            width: 19px;
            height: 17px;
            fill: $title;
            transition: fill 0.5s;
        }

        &--left {
            padding: 12px 30px 12px 41px;
            border-radius: 30px 0 0 30px;
        }

        &--right {
            margin-right: 18px;
            padding: 12px 41px 12px 30px;
            border-radius: 0 30px 30px 0;

            @include r($sm) {
                margin-right: 0;
            }
        }

        @extend %hover-nav-header;
    }

    &__search,
    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        border: none;
        border-radius: 50%;
    }
}
