.products {
    margin-bottom: 95px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        margin-bottom: 145px;
    }

    &__item {
        margin: 0 15px 40px;
        width: calc(100% / 4 - 30px);
        height: 380px;
    }
}