.gallery {
    margin-bottom: 185px;

    &__title {
        margin-bottom: 40px;
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        color: #191919;
    }
}