.product-details {
    margin-bottom: 100px;

    &__inner {
        display: flex;
        align-items: center;
        margin-bottom: 100px;

        @include r($md) {
            flex-direction: column;
        }
    }

    &__info {
        width: 100%;
    }

    &__img-wrap {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: minmax(100px, 138px) minmax(180px, 387px);
        grid-template-rows: repeat(3, 160px);
        margin-right: 70px;
        width: 100%;

        @include r($xl) {
            margin-right: 25px;
        }

        @include r($md) {
            grid-gap: 5px;
            grid-template-rows: repeat(3, 120px);
            margin-right: 0;
            margin-bottom: $mb30;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        padding: 5px;
        border: 2px solid $grey-60;
    }

    &__wrap--big {
        grid-row: span 3;
    }

    &__img {
        margin: auto;
        padding-bottom: 3px;
        // Чтобы картинка влезла и не наползала на бордер
        overflow: auto;

        @include r($md) {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        @include line-clamp(1);

        margin-bottom: 16px;
        font-weight: 400;
        font-size: 40px;
        color: $grey-450;

        @include r($md) {
            font-size: 28px;
        }
    }

    &__star {
        margin-bottom: 33px;
        padding: 0;

        @include r($md) {
            margin-bottom: $mb15;
        }

        svg {
            margin-right: 12px;
        }
    }

    &__price {
        display: inline-block;
        margin-bottom: 23px;
        font-weight: 400;
        font-size: 30px;
        color: $grey-450;

        @include r($md) {
            margin-bottom: $mb15;
        }
    }

    &__text {
        @include line-clamp(4);

        margin-bottom: 27px;
        line-height: 1.9;
        color: $title;

        @include r($md) {
            margin-bottom: $mb15;
        }
    }

    &__navigation {
        display: flex;
        margin-bottom: 55px;

        @include r($md) {
            margin-bottom: 15px;
        }
    }

    &__form {
        display: flex;

        @include r($md) {
            flex-direction: column;
        }
    }

    &__meter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 53px;
        border: 1px solid $main;
        font-size: 15px;
        color: $grey-450;
        background-color: $white;

        &--input {
            text-align: center;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                margin: 0;
                appearance: none;
            }
        }

        &--minus,
        &--plus {
            &:hover {
                color: $white;
            }

            @extend %hover-nav-header;
        }
    }

    &__counter {
        display: flex;
        margin-right: 16px;

        @include r($md) {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }

    &__button {
        padding: 15px 54px;
        border-radius: 5px;
        font-size: 15px;
        text-transform: uppercase;
    }

    &__item {
        color: $title;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}