.design {
    margin-bottom: 85px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        @include r($sm) {
            margin: 0;
        }
    }

    &__item {
        margin: 0 15px 34px;
        width: calc(100% / 3 - 30px);
        height: 245px;

        @include r($lg) {
            width: calc(100% / 2 - 30px);
        }

        @include r($sm) {
            margin: 0 0 $mb15;
            width: 100%;
        }
    }
}
