.design {
    margin-bottom: 85px;

    &__title {
        @include line-clamp(2);

        margin-bottom: 25px;
        font-size: 36px;
        text-align: center;
        color: $grey-600;

        @extend %dms-bold;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    &__card-title {
        margin-bottom: 15px;
        max-width: 171px;
        font-size: 20px;
        color: $grey-600;
    }

    &__text {
        @include line-clamp(1);

        max-width: 170px;
        font-size: 16px;
        color: $main;
    }

    &__item {
        position: relative;
        margin: 0 15px 34px;
        padding: 35px 0 0 35px;
        width: calc(100% / 3 - 30px);
        min-height: 245px;
        background-color: $grey-50;

        @extend %dms-bold;
    }

    &__img {
        position: absolute;
        right: 0;
        bottom: 35px;
        max-width: 270px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--sm {
            right: 35px;
            max-width: 145px;
        }
    }
}