.header {
    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 45px 0;
    }
}

.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__link {
        border-bottom: 1px solid transparent;
        transition: border-bottom-color 0.5s, color 0.5s;

        &:hover {
            border-bottom-color: $title;
            color: $title;
        }
    }

    &--header {
        padding-left: 178px;
    }
}

.user-nav {
    display: flex;

    &__search {
        margin-right: 21px;
        background-color: rgba($main, 0.2);

        svg {
            width: 16px;
            height: 16px;
            fill: $title;
        }

        @extend %hover-nav-header;
    }

    &__menu {
        background-color: $main;

        svg {
            width: 20px;
            height: 20px;
            fill: $white;
        }

        @extend %hover-nav-header;
    }

    &__wrap {
        position: relative;
    }

    &__count {
        position: absolute;
        left: 11px;
        top: -6px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        font-size: 10px;
        background-color: $white;

        @extend %dms-regular;
    }

    &__item {
        position: relative;
        border: none;
        background-color: $bg;

        svg {
            width: 19px;
            height: 17px;
            fill: $title;
            transition: fill 0.5s;
        }

        &--left {
            padding: 12px 30px 12px 41px;
            border-radius: 30px 0 0 30px;
        }

        &--right {
            margin-right: 18px;
            padding: 12px 41px 12px 30px;
            border-radius: 0 30px 30px 0;
        }

        @extend %hover-nav-header;
    }

    &__search,
    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        border: none;
        border-radius: 50%;
    }
}
