.hero {
    &__items {
        background-color: $bg-color;
    }

    &__item {
        padding: 15px 0 85px;
        height: calc(100vh - 142px);
    }

    &__wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 15px;
        height: 100%;
        min-width: 320px;
        max-width: 1200px;

        &::before {
            content: "";
            position: absolute;
            right: -55px;
            top: 50%;
            width: 634px;
            height: 634px;
            border-radius: 50%;
            background-image: linear-gradient(to left, $white 0%, rgba($white, 0) 100%);
            transform: translateY(-50%);
        }
    }

    &__title {
        @include line-clamp(2);

        margin-bottom: 29px;
        max-width: 412px;
        font-weight: 500;
        font-size: 72px;
        line-height: 1;
        text-transform: uppercase;
        color: $title-color;
    }

    &__text {
        @include line-clamp(4);

        margin-bottom: 60px;
        max-width: 360px;
        font-size: 18px;
        line-height: 1.4;
    }

    &__link {
        padding: 21px 20px 21px 27px;
        color: $white;
        background-color: $main-color;
        transition: background-color 0.5s, color 0.5s, fill 0.5s;

        svg {
            width: 22px;
            height: 9px;
            fill: $white;
        }

        span {
            padding-right: 55px;
            font-weight: 500;
            font-size: 15px;
        }

        &:hover {
            color: $main-color;
            background-color: $white;

            svg {
                fill: $main-color;
            }
        }
    }

    &__img {
        position: relative;
    }

    .slick-dots {
        position: absolute;
        left: 50%;
        bottom: 45px;
        display: flex;
        transform: translateX(-50%);

        li {
            &:not(:last-child) {
                margin-right: 11px;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                width: 30px;
                height: 30px;
                border: none;
                border-radius: 50%;
                font-weight: 500;
                font-size: 12px;
                background-color: rgba($white, 0.3);
                transition: background-color 0.5s;

                &:focus,
                &:hover {
                    background-color: rgba($white, 0.6);
                }
            }

            &.slick-active {
                button {
                    background-color: $white;
                }
            }
        }
    }
}