.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 15px 40px;
    padding: 27px 15px 35px;
    width: calc(100% / 4 - 30px);
    min-height: 380px;
    border-radius: 10px;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    text-align: center;
    background-color: $white;

    &__img {
        margin: auto;
    }

    &__title {
        @include line-clamp(1);

        margin-bottom: 11px;
        color: $title;

        @extend %dms-medium;
    }

    &__price {
        @include line-clamp(1);

        color: $main;
    }

    &__navigation {
        position: absolute;
        left: 50%;
        top: 50%;
        display: flex;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        border-radius: 50%;
        box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
        background-color: $white;

        svg {
            width: 20px;
            height: 20px;
            fill: $main;
        }

        @extend %hover-nav-header;
    }

    &:hover {
        .product-card__navigation {
            opacity: 1;
        }
    }
}