$main: #a3bbc8;
$title: #243f4d;
$text: #436372; // all
$bg: #fcd7b6;
$white: #fff;

// grey
$grey-50: #f8f8f8;
$grey-75: #e0e0e0;
$grey-100: #8b8b8b;
$grey-150: #888;
$grey-200: #7b7b7b;
$grey-300: #585858;
$grey-400: #414141;
$grey-500: #262626;
$grey-600: #1a1a1a;
$grey-700: #191919;

// blue
$blue-200: #565872;
$blue-500: #234969;
$blue-700: #1f2044;
$blue-800: #222933;