$main: #a3bbc8;
$title: #243f4d;
$text: #436372;
$bg: #fcd7b6;
$white: #fff;

// grey
$grey-100: #8b8b8b;
$grey-200: #7b7b7b;
$grey-300: #585858;
$grey-400: #414141;
$grey-500: #1a1a1a;
$grey-600: #191919;

// blue
$blue-500: #234969;
$blue-700: #1f2044;