$main: #a3bbc8;
$title: #243f4d;
$text: #436372; // all
$bg: #fcd7b6;
$white: #fff;
$black: #000;
$yellow-light: #d8d3cc;

// grey
$grey-50: #f8f8f8;
$grey-55: #f6f6f6;
$grey-60: #ebebeb;
$grey-75: #e0e0e0;
$grey-80: #b3b3b3;
$grey-90: #9a9a9a;
$grey-100: #8b8b8b;
$grey-150: #888;
$grey-200: #7b7b7b;
$grey-250: #666;
$grey-300: #585858;
$grey-400: #414141;
$grey-450: #333;
$grey-500: #262626;
$grey-550: #222;
$grey-600: #1a1a1a;
$grey-700: #191919;

// blue
$blue-50: #edf1f4;
$blue-100: #526278;
$blue-200: #565872;
$blue-500: #234969;
$grey-550: #094074;
$grey-600: #09316f;
$blue-700: #1f2044;
$blue-800: #222933;